{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{%block head_title%}Blog Index{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/font-awesome/3.2.0/css/font-awesome.min.css"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    {% block head_extra %}{% endblock %}
</head>
<body>
<div class="messages" style="padding-top:52px;">
{% include "posts/messages.html" %}
</div>
<!--导航-->
<nav class="navbar navbar-default navvar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'posts:list'%}">Borg's Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{%url 'posts:list'%}">Home <span class="sr-only">(current)</span></a></li>
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_stuff or request.user.is_admin or request.user.is_superuser %}
          <li><a href="{% url 'posts:create' %}">Create Post</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--导航-->
{% block bodyheader %}
{% endblock %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'posts:list' %}">Home</a></li>
        <li><a href="{% url 'posts:list' %}">Posts</a></li>

        {% block post_detail_link %}
        {% endblock %}

    </ol>

    {% block content %}
    <!--&lt;!&ndash;carousel&ndash;&gt;-->
    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
  <!--&lt;!&ndash; Indicators &ndash;&gt;-->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
  <!--</ol>-->

  <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
  <!--<div class="carousel-inner" role="listbox">-->
    <!--<div class="item active">-->
      <!--<div class="jumbotron">-->
        <!--<h1>Borg</h1>-->
        <!--<p>A python programmer.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
        <!--<div class="jumbotron">-->
        <!--<h1>Borg</h1>-->
        <!--<p>A python programmer.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
        <!--<div class="jumbotron">-->
        <!--<h1>Borg</h1>-->
        <!--<p>A python programmer.</p>-->
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
<!--</div>-->
    <!--&lt;!&ndash;carousel&ndash;&gt;-->
    {% endblock %}
</div>

    {% block footer %}
        <div class="footer">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm-offset-4 col-md-10">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a target="_blank" href="https://github.com/BigBorg">
                                        Github
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="mailto:lbgandthesun@126.com">Email</a>
                                </div>
                                <div class="col-sm-2">
                                    <a target="_blank" href="https://www.zhihu.com/people/bigborg">知乎</a>
                                </div>
                            </div>
                            <p class="copyright text-muted">
                                Copyright © Borg's Blog 2017
                                <br>
                                Blog system by <a href="https://www.github.com/bigborg">Borg</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
<script
			  src="http://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://cdn.bootcss.com/marked/0.3.5/marked.min.js'></script>
<script>
    $(document).ready(function(){
        $(".markdown").each(function(){
            var text = $(this).text();
            var g ={}
            g.text = text
            console.log(g);
            var markedContent = marked(text);
            console.log(markedContent);
            $(this).html(markedContent);
        })
        $(".post_detail_item img").each(function(){
            $(this).addClass("img-responsive");
        })

        var titleInput = $("#id_title")
        var contentInput = $("#id_content");

        function setContent(content){
            var markedContent = marked(content);
            $(".preview-content").html(markedContent);
            $(".preview-content img").each(function(){
                $(this).addClass("img-responsive")
            })
        }

        function setTitle(title){
            $(".preview-title").text(titleInput.val());
        }

        titleInput.keyup(function(){
            setTitle($(this).val());
        })

        contentInput.keyup(function(){
            setContent(contentInput.val())
        })

        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        })

    })
</script>
</body>
</html>