{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{%block head_title%}Blog Index{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/font-awesome/3.2.0/css/font-awesome.min.css"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    {% block head_extra %}{% endblock %}
</head>
<br>
<body>
<div class="messages">
{% include "posts/messages.html" %}
</div>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'posts:list' %}">Home</a></li>
        <li><a href="{% url 'posts:list' %}">Posts</a></li>

        {% block post_detail_link %}
        {% endblock %}

        {% if request.user.is_authenticated %}
        <li class="pull-right"><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
        <li class="pull-right"><a href="{% url 'accounts:login' %}">Login</a></li>
        <li class="pull-right"><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
    </ol>

    {% block content %}
    {% endblock %}
</div>
<script
			  src="http://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
<script>
    $(document).ready(function(){
        $(".markdown").each(function(){
            var text = $(this).text();
            var g ={}
            g.text = text
            console.log(g);
            var markedContent = marked(text);
            console.log(markedContent);
            $(this).html(markedContent);
        })
        $(".post_detail_item img").each(function(){
            $(this).addClass("img-responsive");
        })

        var titleInput = $("#id_title")
        var contentInput = $("#id_content");

        function setContent(content){
            var markedContent = marked(content);
            $(".preview-content").html(markedContent);
            $(".preview-content img").each(function(){
                $(this).addClass("img-responsive")
            })
        }

        function setTitle(title){
            $(".preview-title").text(titleInput.val());
        }

        titleInput.keyup(function(){
            setTitle($(this).val());
        })

        contentInput.keyup(function(){
            setContent(contentInput.val())
        })

        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        })

    })
</script>
</body>
</html>