{% extends "posts/base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block post_detail_link %}
<li>{{obj.title}}</li>
{% endblock %}

{% block bodyheader %}
{% if obj.image %}
<!--header-->
<div class="header" style="background-image:url({{ obj.image.url }});">
    <div class="container">
        <div class="row" style="padding-top:100px !important;padding-bottom:100px !important;"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 align="center">{{obj.title}}</h1>
                    <p align="center">Author: {{obj.user.username}}&nbsp;<small>{{obj.published}}</small></p>
                </div>
        </div>
    </div>
</div>
<!--header-->
{% endif %}
{% endblock %}

{% block content %}
<div class="col-sm-2">
    {% if request.user = obj.user %}
        <a class="btn btn-info" href="{% url 'posts:update' slug=obj.slug %}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" href="{% url 'posts:delete' slug=obj.slug %}">Delete</a>
    {% endif %}
</div>
<div class="col-sm-8">
    <h1>Title: {{obj.title}}&nbsp;{% if obj.draft %}<span style="color:red"> Draft </span>{% endif %}<small>{{obj.published}}</small></h1>
    {% if obj.user.get_full_name %}
    <p>Author: {{obj.user.get_full_name}}</p>
    {% endif %}
    {{obj.num_chinese}} Chinese character{% if obj.num_chinese > 1 %}s{% endif %}, {{obj.num_english}} English word{% if obj.num_english > 1 %}s{% endif %}.<br>
    <br>
<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">Share on Facebook</a>&nbsp;
<a href="https://twitter.com/home?status={{obj.content|truncatechars:20|urlify}}%20{{request.build_absolute_uri}}">Share on Twitter</a>&nbsp;
<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Share on Google+</a>&nbsp;
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{obj.title|urlify}}&summary={{share_string}}&source={{request.build_absolute_uri}}">Share on Linkedin</a>&nbsp;
    <!-- Do not insert new line in the following line or markdown rendering wouldn't work properly. -->
    <br>
    <br>
    <div class="post_detail_item">{{obj.get_markdown}}</div>

    <div>
        <p class="lead">Comments: </p>
        {% if request.user.is_authenticated %}
        <form method="POST" action=".">{% csrf_token %}
            {{comment_form|crispy}}
            <button class="btn btn-default" type="submit">Submit comment</button>
        </form>
        {% else %}
        <p>You must log in to comment.</p>
        {% endif %}

        {% for comment in obj.comments.all %}
        <blockquote>
            <p>{{comment.content}}</p>
            <footer>{{comment.user}} | {{comment.timestamp|timesince}} ago{% if comment.children.count > 0 %} | {{comment.children.count}} comment{% endif %}{% if comment.children.count > 1 %}s{% endif %} | <a href="#" class="comment-reply-btn">Reply</a> | <a href="{{comment.get_absolute_url}}">Thread</a>{% if comment.user == request.user %} | <a href="{% url 'comments:delete' comment.id %}">Delete</a>{% endif %}</footer>
            <div class="comment-reply">
                {% for child_comment in comment.children %}
                <blockquote>
                    <p>{{child_comment.content}}</p>
                    <footer>{{child_comment.user}} | {{child_comment.timestamp|timesince}}{% if comment.user == request.user %} | <a href="{% url 'comments:delete' child_comment.id %}">Delete</a>{% endif %}</footer>
                </blockquote>
                {% endfor %}

                {% if request.user.is_authenticated %}
                <form method="POST" action=".">{% csrf_token %}
                    {{comment_form|crispy}}
                    <input name="parent_id" value="{{comment.id}}" type="hidden">
                    <button type="submit" class="btn btn-default">Reply</button>
                </form>
                {% else %}
                <p>You must log in to comment.</p>
                {% endif %}
            </div>
        </blockquote>
        <hr>
        {% endfor %}
    </div>
</div>


{% endblock %}