{% extends "posts/base.html" %}
{% load staticfiles %}
{% block bodyheader %}
<!--header-->
<div class="header" style="background-image:url({% static 'image/home-bg-o.jpg' %});">
    <div class="container">
        <div class="row" style="padding-top:100px !important;padding-bottom:100px !important;"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 align="center">Borg</h1>
                    <p align="center">Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
                </div>
        </div>
    </div>
</div>
<!--header-->
{% endblock %}


{% block content %}
{{block.super}}
<br>
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <form method="GET" action="">
            <div class="input-group col-sm-6">
                <input class="form-control" type="text" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-8 col-sm-push-2">
    <div class="thumbnail">
      <!--{% if obj.image %}-->
      <!--<img src="{{obj.image.url}}">-->
      <!--{% endif %}-->
      <div class="caption post_detail_item">
        {% if obj.draft %} <h4 style="color:red">Stuff only: Draft</h4> {% endif %}
        {% if obj.published > today %} <h4 style="color:red">Stuff only: Future Post</h4> {% endif %}
        <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a>&nbsp;<small>{{obj.timestamp|timesince}} ago</small></h3>
        <p>{{obj.get_markdown|truncatechars_html:120}}</p>
        <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="row">
<div class="pagination col-sm-push-2 col-sm-8">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}