.wmd-panel{
    margin-left:0px !important;
    margin-right:0px;
}

.comment-reply{
    display:none
}

.navbar {
    margin-bottom: 0;
}

.header{
    height:100% !important;
    background-size:cover;
    color:#fff;
    font-size:18px;
}

.header h1{
    font-size:80px;
}

@media (max-width: 1000px) {
      .header h1 {
        font-size: 80px;
      }
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 50px;
  }
}